<!DOCTYPE html>
{% extends 'form_app/base.html' %}

  {% block body_block %}
      <div class="jumbotron">
        <h1>Welcome to the Sign Up Page</h1>
        <h2>Fill out the form to sign up</h2>
      </div>

      <form method="POST">
          {{ user_form.as_p }}
          {{ info_form.as_p }}

          {% csrf_token %}


          <div class="container" align = center>
            <input type="submit" class="btn btn-primary"name="" value="Submit">
          </div>

      </form>
  {% endblock %}
